@use "../../utils/variables" as *;

.about{
	padding-bottom: 30px;
    background-color: #ffe6ff;

    &__title{
        margin-bottom: 30px;
    }

    &__image-container{
        display: flex;
        margin-bottom: 30px;
        justify-content: center;
    }

    &__image{
        width: 100%;
        max-width: 350px;
    }
}