@use "../../utils/variables" as *;

.about{
	padding-bottom: 20px;
    background-color: #ffe6ff;

    &__title{
        margin-bottom: 30px;
    }

    &__image-container{
        display: flex;
        margin-bottom: 30px;
        justify-content: center;
    }

    &__image{
        width: 100%;
        max-width: 500px;
		transform: scale(1) rotate(0deg);
		transition: all .3s ease-in-out;

		&:hover{
			transform: scale(1.2) rotate(-10deg);
		}
    }

	&__emoji{
		font-size: 1.4em;
	}
}