@use "../../utils/variables" as *;
@use "../../utils/mixins" as *;

.btn-container{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet{
        flex-direction: row;
    }
}

.btn{
    width: 100%;
    height: 40px;
    display: flex;
    padding: 0 10px;
    font-size: 1.8em;
    align-items: center;
    text-decoration: none;
    color: $primary__color;
    justify-content: center;
    transition: all .3s ease;

    @include tablet{
        max-width: 140px;
    }

    &__cv{
        border: 3px solid $mauve;

        &:hover{
            background-color: $mauve;
        }
    }

    &__github{
        border: 3px solid $lilac;

        &:hover{
            background-color: $lilac;
        }
    }

    &__linkedin{
        border: 3px solid $periwinkle;

        &:hover{
            background-color: $periwinkle;
        }
    }
}