@use "../../utils/variables" as *;
@use "../../utils/mixins" as *;

.btn-container{
    gap: 20px;
    display: flex;
	margin: 40px 0 20px 0;
    flex-direction: column;
    justify-content: center;

    @include tablet{
        flex-direction: row;
    }
}

.btn{
    width: 100%;
    height: 40px;
    display: flex;
    padding: 0 10px;
    font-size: 1.4em;
	font-weight: 600;
	transition: 0.5s;
	line-height: 38px;
	border-radius: 4px;
    align-items: center;
    text-decoration: none;
    color: $primary__color;
    justify-content: center;
	text-transform: uppercase;
	background-size: 200% auto;
	background-image: linear-gradient(to right, #E7C6FF 0%, #C8B6FF  51%, #B8C0FF  100%);

    @include tablet{
		max-width: 140px;
    }

	&:hover{
		text-decoration: none;
		background-position: right center; /* change the direction of the background */
	}
}