// Import Sass modules
@use "sass:map";

// Define breakpoints
$breakpoints: (
	sm: 625px,
	md: 768px,
	lg: 992px,
	mdr: 860px,
	xl: 1200px,
	xxl: 1400px,
);

// Define container widths for each breakpoint
$container-max-widths: (
	sm: 600px,
	md: 740px,
	mdr: 860px,
	lg: 960px,
	xl: 1140px,
	xxl: 1320px,
);

// Define gutter size
$gutter: 15px;

// Mixin for container
@mixin container() {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: $gutter;
	padding-right: $gutter;

	// Loop through the breakpoints and apply the max-width for each
	@each $breakpoint, $width in $container-max-widths {
		@media (min-width: map.get($breakpoints, $breakpoint)) {
			max-width: $width;
		}
	}
}

// Create container class
.container {
	@include container();
}

// Create a mixin for responsive columns
@mixin make-col($size, $columns: 12) {
	padding-left: $gutter;
	padding-right: $gutter;
	flex: 0 0 calc(100% / $columns * $size);
	max-width: calc(100% / $columns * $size);
}

// Row styling
.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -$gutter;  // Compensate for column padding
	margin-right: -$gutter; // Compensate for column padding
}

// Column styling
.col-12 {
	@include make-col(12);
}

// Define .col-md-4
.col-md-4 {
	flex: 0 0 100%;
	max-width: 100%;

	@media (min-width: map.get($breakpoints, md)) {
		@include make-col(4, 12); // 4 out of 12 columns
	}
}

// Define .col-md-5
.col-md-5 {
	flex: 0 0 100%;
	max-width: 100%;

	@media (min-width: map.get($breakpoints, md)) {
		@include make-col(5, 12); // 5 out of 12 columns
	}
}

.col-md-6 {
	flex: 0 0 100%;
	max-width: 100%;

	@media (min-width: map.get($breakpoints, md)) {
		@include make-col(6);
	}
}

// Define .col-md-7
.col-md-7 {
	flex: 0 0 100%;
	max-width: 100%;

	@media (min-width: map.get($breakpoints, md)) {
		@include make-col(7, 12); // 7 out of 12 columns
	}
}

// Define .col-md-8
.col-md-8 {
	flex: 0 0 100%;
	max-width: 100%;

	@media (min-width: map.get($breakpoints, md)) {
		@include make-col(8, 12); // 8 out of 12 columns
	}
}

// Define .col-lg-6
.col-lg-6 {
	flex: 0 0 100%;
	max-width: 100%;

	@media (min-width: map.get($breakpoints, lg)) {
		@include make-col(6);
	}
}

// Global Grid Classes
.d-flex{
	display: flex;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}