@use "../../utils/variables" as *;

header{
    top: 0;
    z-index: 100;
    position: sticky;
	background-color: $light__pink;
    border-bottom: 1px solid $periwinkle;
}

.logo{
	display: flex;
	font-size: 4em;
	align-items: center;
	text-transform: uppercase;

	.diamond-icon{
		max-width: 45px;
		margin-right: 10px;
	}
}