@use '../../utils/variables' as *;

header{
    top: 0;
    z-index: 100;
    position: sticky;
    background-color: $secondary__color;

    h1{
        display: flex;
        font-size: 4em;
        align-items: center;
        text-transform: uppercase;

        .diamond-icon{
            max-width: 45px;
            margin-right: 10px;
        }
    }
}