@use "../../utils/variables" as *;

header{
    top: 0;
	left: 0;
	right: 0;
    z-index: 100;
    position: fixed;
    background-color: $secondary__color;
    border-bottom: 1px solid $periwinkle;

    h1{
        display: flex;
        font-size: 4em;
        align-items: center;
        text-transform: uppercase;

        .diamond-icon{
            max-width: 45px;
            margin-right: 10px;
        }
    }
}