@use '../../utils/variables' as *;

.hero{

    &__title{
        margin: 0;
        color: $jordy__blue;
    }

    &__subtitle{
        margin: 0;
        color: $lilac;
        font-size: 32px;
    }

    h3{
        font-size: 26px;
        color: $periwinkle;
    }

    &__image{
        width: 100%;
    }
}