@use "../../utils/variables" as *;

.hero{
	height: 100vh;

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__subtitle{
		font-size: 4em;
        margin: 0 0 10px;
    }

    &__image-container{
        display: flex;
        justify-content: center;
    }

    &__image{
        width: 100%;
        max-width: 500px;
    }
}