@use "../../utils/variables" as *;
@use "../../utils/mixins" as *;

.technical-skills{
	padding-bottom: 30px;

	&__top-title{
		@include topTitle($mauve)
	}
}

.hexagon-grid{
	gap: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Flexible columns */

	@include desktopLarge{
		grid-template-columns: repeat(8, minmax(120px, 1fr));
	}

	.hexagon{
		width: 120px;
		height: 140px;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		align-items: center;
		justify-content: center;
		background-color: $jordy__blue; // gradient fallback
		transition: transform 0.3s ease;
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

		img{
			width: 50%;
			height: auto;
			transition: transform 0.5s ease;
		}

		&:hover{

			img{
				transform: scale(1.1);
			}
		}
	}

}

.skills{

	&__container{
		display: flex;
		text-align: center;
		align-items: center;
		flex-direction: column;
		justify-content: center;

		&:hover{

			.skills__name{
				opacity: 1;
				transform: translateY(10px) scale(1); // Expand horizontally
			}
		}
	}

	&__name{
		opacity: 0;
		font-size: 2em;
		font-weight: 600;
		white-space: nowrap;
		color: $jordy__blue;
		text-transform: uppercase;
		transform: translateY(-10px) scale(0); // Start off centre horizontally
		transition: transform .6s ease-in-out, opacity .3s ease-in-out;
	}
}