// Responsive Breakpoints
$tablet: 768px;
$tabletLandscape: 1024px;
$desktop: 992px;
$desktopLarge: 1400px;

@mixin tablet{
    @media(min-width: #{$tablet}){
        @content;
    }
}

@mixin tabletLandscape{
    @media(min-width: #{$tabletLandscape}){
        @content;
    }
}

@mixin desktop{
    @media(min-width: #{$desktop}){
        @content;
    }
}

@mixin desktopLarge{
    @media (min-width: #{$desktopLarge}){
        @content;
    }
}


//  Gradients
@mixin gradientBackground($colours...){
	background: linear-gradient(to right, $colours...);
}

@mixin gradientText($colours...) {
    background: linear-gradient(to right, $colours...);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}