// Responsive Breakpoints
$mobile: 576px;
$tablet: 768px;
$tabletLandscape: 1024px;
$desktop: 992px;
$desktopLarge: 1200px;

@mixin mobile{
    @media(min-width: #{$mobile}){
        @content;
    }
}

@mixin tablet{
    @media(min-width: #{$tablet}){
        @content;
    }
}

@mixin tabletLandscape{
    @media(min-width: #{$tabletLandscape}){
        @content;
    }
}

@mixin desktop{
    @media(min-width: #{$desktop}){
        @content;
    }
}

@mixin desktopLarge{
    @media (min-width: #{$desktopLarge}){
        @content;
    }
}


//  Gradients
@mixin gradientBackground($colours...){
	background: linear-gradient(to right, $colours...);
}

@mixin gradientText($colours...){
    background: linear-gradient(to right, $colours...);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin gradientBorder($colours...){
	border-top: 6px solid; /* Define the border width */
	border-image: linear-gradient(to right, $colours...) 1;
}

// Top Title
@mixin topTitle($colour){
	display: flex;
	color: $colour;
	margin-top: 30px;
	font-size: 1.8em;
	justify-content: center;
	text-transform: uppercase;
}