// Base
@use "./styles/base/reset";
@use "./styles/base/typography";

// Utils
@use "./styles/utils/variables" as *;
@use "./styles/utils/mixins" as *;

// Global
@use "./styles/components/global/grid";
@use "./styles/components/global/buttons";
@use "./styles/components/global/gradients";
@use "./styles/components/global/header";
@use "./styles/components/global/nav";
@use "./styles/components/global/hero";
@use "./styles/components/global/about";
@use "./styles/components/global/technical";
@use "./styles/components/global/professional-experience";
@use "./styles/components/global/footer";