// Base
@use './styles/base/reset';
@use './styles/base/typography';

// Utils
@use './styles/utils/variables' as *;
@use './styles/utils/mixins' as *;

// Global
@use './styles/components/global/grid';
@use './styles/components/global/gradient_text';
@use './styles/components/global/header';
@use './styles/components/global/nav';
@use './styles/components/global/hero';


section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background: #f4f4f4;
    margin: 0;
    border-bottom: 1px solid #ccc;
}